/* 页面整体样式 */
.whole-page {
    font-family: Arial, sans-serif;
    background-color: #f8f4ec;
    color: #333;
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}

/* 页面顶部标题样式 */
.header {
    height: 60px;
    /* 减小高度 */
    background: linear-gradient(to bottom, #f9e8a0, #f8f4ec);
    /* 去除分割线效果 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直居中 */
    margin-bottom: 7px;
    /* 减少背景和内容的间距 */
    position: relative;
    /* 确保 .button-container 的 absolute 定位是基于 header 的 */
    display: flex;
    flex-direction: column;
}

/* 标题样式 */
.app-name {
    font-size: 22px;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}

/* 搜索栏样式 */
.search-bar {
    display: flex;
    justify-content: center;
    /* 居中对齐 */
    align-items: center;
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
}

.search-input {
    padding: 10px 20px;
    border: 2px solid #ffb565;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    color: #333;
    width: 100%;
    /* 输入框占满容器宽度 */
    margin-right: 0;
    box-sizing: border-box;
    /* 确保边框也计算在内 */
}

.search-button {
    padding: 8px 20px;
    background-color: #ffce65 !important;
    color: white !important;
    border: 2px solid #ffce65 !important;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    margin-left: -2px;
    line-height: 1;
}




/* 提交按钮样式 */
button[type="submit"] {
    display: block;
    /* 将按钮设置为块级元素 */
    width: 80%;
    /* 设置按钮宽度为父容器的 80% */
    padding: 12px;
    background-color: #ffd700;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px auto;
    /* 自动水平居中 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #ffcc00;
    /* 悬停时的背景色 */
    transform: scale(1.02);
    /* 悬停时微微放大 */
}

button[type="submit"]:active {
    background-color: #f4b400;
    /* 点击时的背景色 */
    transform: scale(0.98);
    /* 点击时稍微缩小 */
}

/* 返回按钮 */
.back-button {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 25px;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.white-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    /* display: flex; */
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #f0f0f0;
    background-size: cover;
}